<div data-infinite-loader-target="loader" class="hidden py-10 text-center">
  <div class="inline-block animate-spin rounded-full h-10 w-10 border-t-2 border-b-2 border-blue-500"></div>
  <p class="mt-2 text-gray-600">Загрузка...</p>
</div>